* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    cursor:url('../cur1.png'), auto;
  }

  body {
    background-color: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: inline-block;
    margin: auto;
  }

.icon{
  display: inline-block;
  /*width: 6%;*/
  height: 1.8vw;
  padding: 0px;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  img {
    display: block;
  }
  
  a, a:link, a:visited, a:active {
    /*text-decoration: underline;*/
    color: black;
  }
  
  p {
    padding-left: 10%;
    padding-right: 40%;
    font-family: 'Xanh Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4vw;
    color: black;
    line-height: 1.3;
    text-align: justify;
    padding-bottom: 3%;
    }

    
  h4 {
    padding-left: 10%;
    padding-right: 40%;
    padding-bottom: 3%;
    font-family: 'Xanh Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    color: black;
    line-height: 1.3;
    text-align: left;
    }
  

    h3{
      font-family: 'Xanh Mono', monospace;
      font-size: 0.6vw;
      color: rgba(0, 0, 0, 0.7);
      text-align: left;
      line-height: 0;
      position: relative;
      padding: 0%;
      left: 1px;
      bottom: 5px;
      right: auto;
      max-width: fit-content;
     }

  h2{
    font-family: 'Xanh Mono', monospace;
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 0.7);
    background-color: white;
    text-align: right;
    line-height: 1.5;
    position: fixed;
    padding: 1%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 255, 1) -100px 100px 200px; 
    left: 73%;
    top: 0px;
    right: auto;
    
  }
  


  .hover {
    pointer-events: none;
    display: inline-block;
    position: absolute;
  }
  
   
  .readingimg {
    display: none;
    width: 40%;
  }
  
  .readinglink:hover+.readingimg  {
    display: inline-block;
    position:absolute;
    }
  

.home {
      float: right;
      padding: 5px;
      position: fixed;
      bottom: 1%;
      right: 1%;
      }
      
#home:hover {
      filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
      }

      
      .logo  {
        position: fixed;
        bottom: 0%;
        right: 0%;
        max-width: 20%;
        display: block;
        color: black;
        font-family: 'Playfair Display', serif;
        text-shadow: 0 0 3px #000;
        }
